body {
    font-family: sans-serif;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.link {
    color: #1e90ff;
    text-decoration: none;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;    
}